<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Alert System</header>
            <header>Login</header>
            <form [formGroup]="form" (ngSubmit)="login()" >
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" formControlName="email"  name="email">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" formControlName="password" name="password">
                    <i class="eye-icon" [ngClass]="{ 'fa fa-eye': showPassword, 'fas fa-eye-slash': !showPassword }" (click)="togglePasswordVisibility()"></i>
                </div>
                <div class="form-link">
                    <a class="forgot-pass">Forgot password?</a>
                </div>
                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>
