.custom-mat-form-field {
    width: 20em; /* ajusta el ancho */
    .form-label {
        font-size: 16px; /* ajusta el tamaño de la etiqueta*/
    }
    .form-input{
        height: 20px; /* ajusta la altura del input según sea necesario */
        font-size: 16px; /* ajusta el tamaño de la fuente del input según sea necesario */
    }
  }

  .mat-elevation-z2{
    
    background-color: white;
  }

  .input-filter {
    width: 16em;
    height: 20px;
    padding: 18px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 1%;
    border: none;
    border-bottom: 2px solid rgb(159, 159, 159);
    outline: none;
    background-color: transparent;
  }
  .element{
    background-color: rgb(85, 131, 0);
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    color: white;
  }
  .element1{
    background-color: rgb(161, 164, 0);
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    color: white;
  }
  .element2{
    background-color: rgb(144, 0, 0);
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    color: white;
  }
  .element3{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    color: white;
  }
  
  .responsive-table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .responsive-table::-webkit-scrollbar {
    width: 0;  /* Ajusta el ancho del scroll a cero */
  }

  .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    margin-bottom: 20px;
      li {
        padding: 24px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        grid-gap: 24px;

        .fal{
          width: 80px;
          height: 80px;
          border-radius: 10px;
          font-size: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }

        h3 {
          font-size: 24px;
          font-weight: 600;
          color: var(--dark);
        }
        p {
          color: var(--dark);  
        }
      }
      li:nth-child(1) .fal {
        background: rgb(85, 131, 0);
      }
      li:nth-child(2) .fal {
        background: rgb(161, 164, 0);
      }
      li:nth-child(3) .fal {
        background: rgb(144, 0, 0);
      }

      li:nth-child(4) .fal {
        background: rgb(0, 0, 0);
      }
       
  }

  .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
  }



